/* Main */

body {
	background-color: yellow;
}

#container {
	margin: 0 auto;
	text-align: center;
}

#title {
	margin-top: 75px;
	margin-bottom: 50px;
	text-decoration: underline;
}

/* Enter item */

#enter {
	text-align: center;
	border-bottom: solid black 2px;
	padding-bottom: 30px;
	padding-left: 12%
}

#add {
	margin-left: 25px;
}

#toDoItem {
	height: 20px;
	width: 150px;
	margin-right: 10px;
}

/* List */

#list {
	text-align: left;
	margin-top: 50px;
	margin-left: 42%;
	height: 200px;

}

input[type=checkbox]:checked + label {
	text-decoration: line-through;
}

.toDoItem {
	margin-bottom: 25px;
}

ul {
	list-style: none;
}

li:first-child {
	margin-top: 0:
}

li {
	margin-top: 25px;
}

.underline {
	text-decoration: underline;
}

.delete {
	float: right;
	margin-right: 350px;
}