/* Main */

body {
	background-color: yellow;
}

#title {
	margin-top: 75px;
	margin-bottom: 50px;
	text-decoration: underline;
}

/* Enter item */

#enter {
	border-bottom: solid black 2px;
	padding-bottom: 30px;
}

#add {
	margin-left: 5px;
}

#toDoItem {
	height: 30px;
	width: 186px;
}

/* List */

#list {
	margin-top: 30px;
	margin-left: 15px;
}

#label {
	width: 200px;
}

input[type=checkbox]:checked + label {
	text-decoration: line-through;
}

input[type=checkbox] {
	margin-right: 10px;
}

.toDoItem {
	margin-bottom: 25px;
}

.underline {
	text-decoration: underline;
}

td {
	width: 200px;
}